@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

body{
    background-color:#e3f2fd;
    overflow: hidden;
}

header {
    text-align: center;
    margin-top: 35px;
    font-size: 2rem;
    font-weight: bold;
    color: rgb(13, 49, 78);
    text-shadow: 2px 2px #aed581;
}

#principal {
    width: 60%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
    outline: solid rgb(13, 49, 78) 2.8px;
    border-radius: 25px;
}

/* .green{
    color:green;
}

.red{
    color:red;
} */

#maskify{
    padding: 10px;
    margin: 20px;
    font-size: 1.4rem;
    text-align: center;

}

p {
    margin: 15px;
}

i {
    font-size: 2rem;
}

ol {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}


#myForm {
    border-radius: 15px;
    background-color: #aed581;
    text-align: center;
    font-size: 2.5rem;
    padding-bottom: 13px;
}

label {
    font-weight: bold;
    padding-left: 20px;
}

input {
    height: 2rem;
    outline: none;
    font: 1.6rem;
    border: 5px;
    padding: 2px 10px;
    }

input[type=number]::-webkit-inner-spin-button {
        display: none;
    }

input[type="text"] {
        width: 45%;
    }

input[placeholder]
    {
        font-size:30%;
    }
 
#validityText{
    padding: 10px;
    margin: 10px;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;

}


#btnValidar {
    display: grid;
    margin: auto;
    margin-top: 20px;
    align-items: center;
    background-image: radial-gradient(100% 100% at 100% 0, #070f3f 0, #0b3899 100%);
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    color: #fff;
    cursor: pointer;
    height: 48px;
    justify-content: center;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    font-size: 18px;
    font-weight: bold;
}

footer {
    text-align: center;
    font-size: .8rem;
    color: rgb(13, 49, 78);
}